<div ng-controller="Skybrud.LinkPicker.Link.Controller">
    <div ng-show="!model.value">
        <buttun type="button" ng-click="addLink()" class="linkpicker-preview-add">
            <localize key="linkpicker_addLink">Add link</localize>
        </buttun>
    </div>
    <div class="linkpicker-preview" ng-show="model.value">
        <i class="linkpicker-preview__icon icon-document" ng-show="model.value.type == 'content'"></i>
        <i class="linkpicker-preview__icon icon-umb-media" ng-show="model.value.type == 'media'"></i>
        <i class="linkpicker-preview__icon icon-link" ng-show="model.value.type == 'url'"></i>
        <div class="linkpicker-preview__content">
            <div class="linkpicker-preview__name">
                <a href="{{model.value.url}}" target="_blank" rel="noopener">{{model.value.name || model.value.url}}</a>
                <small ng-if="model.value.target == '_blank'">(<localize key="linkpicker_targetBlank">new tab/window</localize>)</small>
            </div>
            <div class="linkpicker-preview__description">
                <localize key="linkpicker_content" ng-show="model.value.type == 'content'">Content</localize>
                <localize key="linkpicker_media" ng-show="model.value.type == 'media'">Media</localize>
                <localize key="linkpicker_url" ng-show="model.value.type == 'url'">URL</localize>
                <span ng-if="model.value.name">&bull; {{model.value.url}}{{model.value.anchor}}</span>
            </div>
        </div>
        <div class="linkpicker-preview__actions">
            <button type="button" class="linkpicker-preview__action" ng-click="editLink()">
                <localize key="linkpicker_editLink">Edit</localize>
            </button>
            <button type="button" class="linkpicker-preview__action linkpicker-preview__action--red" ng-click="removeLink()">
                <localize key="linkpicker_removeLink">Remove</localize>
            </button>
        </div>
    </div>
    <input type="hidden" ng-required="model.validation.mandatory" ng-model="model.value.type" />
</div>