<div class="skybrud-elements-links" ng-controller="Skybrud.LinkPicker.PartialView.Controller">
    <div ui-sortable="sortableOptions" ng-model="items">
        <div class="linkpicker-preview linkpicker-preview--sortable" ng-repeat="item in items">
            <i class="linkpicker-preview__icon icon-document" ng-if="item.value.properties.link.type == 'content'"></i>
            <i class="linkpicker-preview__icon icon-umb-media" ng-if="item.value.properties.link.type == 'media'"></i>
            <i class="linkpicker-preview__icon icon-link" ng-if="item.value.properties.link.type == 'url'"></i>
            <div class="linkpicker-preview__content">
                <div class="linkpicker-preview__name">
                    <a href="{{item.value.properties.link.url}}" target="_blank" rel="noopener">{{item.value.properties.text || item.value.properties.link.url}}</a>
                    <small ng-if="item.value.properties.link.target == '_blank'">(<localize key="linkpicker_targetBlank">new tab/window</localize>)</small>
                </div>
                <div class="linkpicker-preview__description">
                    <localize key="linkpicker_content" ng-show="item.value.properties.link.type == 'content'">Content</localize>
                    <localize key="linkpicker_media" ng-show="item.value.properties.link.type == 'media'">Media</localize>
                    <localize key="linkpicker_url" ng-show="item.value.properties.link.type == 'url'">URL</localize>
                    <span ng-if="item.value.properties.text">&bull; {{item.value.properties.link.url}}{{item.value.properties.link.anchor}}</span>
                </div>
                <!--<input type="hidden" ng-model="ariaLabel" ng-required="true"/>-->
            </div>
            <div class="linkpicker-preview__actions">
                <a class="linkpicker-preview__action" href="#" prevent-default="" ng-click="editItem(item)">
                    <localize key="linkpicker_editLink">Edit</localize>
                </a>
                <a class="linkpicker-preview__action linkpicker-preview__action--red" href="#" prevent-default="" ng-click="deleteItem($index)">
                    <localize key="linkpicker_removeLink">Remove</localize>
                </a>
            </div>
        </div>
    </div>
    <div class="skybrud-inner-content-add">
        <a ng-repeat="ct in contentTypes" href="" class="umb-child-selector__child -placeholder" ng-click="addLink(ct)" ng-show="items.length < config.maxItems">
            <div class="umb-child-selector__child-name -blue"><strong>Tilføj</strong></div>
        </a>
    </div>
    <details>
        <summary>Config</summary>
        <pre style="font-size: 9px; line-height: 11px;">{{config | json}}</pre>
    </details>
    <details>
        <summary>Value</summary>
        <pre style="font-size: 9px; line-height: 11px;">{{value | json}}</pre>
    </details>
    <details>
        <summary>Items</summary>
        <pre style="font-size: 9px; line-height: 11px;">{{items | json}}</pre>
    </details>
</div>